.idea/*
.vagrant/*
sms-pos/upload/*
sms-pos/application/cache/*
sms-pos/application/config/database.php
sms-pos/application/config/config.php
sms-pos/session/*
sms-pos/templates_c/*
puphpet/*
html/*
index.php
Vagrantfile